<form id="form" [formGroup]="signinForm" (ngSubmit)="login($event)">
    <h1>LOGIN</h1>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="@gmail.com">
    </div>
    <div>
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" placeholder="°°°°°°°">
    </div>
    <button mat-button color="primary">Iniciar Sesion</button>
</form>