<div class="course-card">
    <div class="name">{{course.name}}</div>
    <div class="autor">{{course.autor}}</div>
    <div class="picture"><img [src]=course.picture alt="picture"></div>
    <div class="summary">{{course.summary}}</div>
    <img class="backgroundPicture" [src]=course.backgroundPicture alt="picture background">
    <button class="btn-course" mat-flat-button color="primary"><mat-icon>shopping_cart</mat-icon> Comprar</button>
    <div class="rating">
        <div class="likes">
            <mat-icon>grade</mat-icon>
        </div>
        <div class="score">{{course.rating}}</div>
    </div>
</div>
