@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');
:host {
}
.course-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    width: inherit;
    height: auto;
    margin: 2px 4px;
    padding: 8px 16px;
    box-shadow: 1px 2px 5px 2px #ccc;
    border-radius: 5px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
}
.name {
    grid-column: 1/3;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16px;
    word-wrap: break-word;
    text-align: justify;
}
.summary {
    grid-column: 1/3;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
    word-wrap: break-word;
    text-align: justify;
}
.picture {
    grid-column: 1/3;
    grid-row: 3;
    width: 100%;
    height: 100%;
}
.backgroundPicture {
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -1;
    filter: opacity(0.4);
}
.picture img {
    width: inherit;
    height: inherit;
}
.backgroundPicture {

}
.autor {
    grid-column: 1/2;
    grid-row: 2;
}
.btn-course {
    grid-column: 1/3;
}
.rating {
    grid-column: 2/2;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: end;
}