:host {
    height: 50vh;
}
#course-portafolio {
    padding: 16px 8px;
    columns: 6;
}
#course-portafolio .course {
    display: block;
    break-inside: avoid;
    margin: 20px 5px;
}

#course-portafolio .course:nth-child(1) {
    display: block;
    break-inside: avoid;
    margin: 20px 5px;
    margin-top: 0px;
}
@media screen and (max-width: 1200px)  {
    #course-portafolio {
        columns: 4;
    }
}

@media screen and (max-width: 1024px)  {
    #course-portafolio {
        columns: 3;
    }
}

@media screen and (max-width: 768px)  {
    #course-portafolio {
        columns: 2;
    }
}

@media screen and (max-width: 480px)  {
    #course-portafolio {
        columns: 1;
    }
}
