<form id="form" [formGroup]="signupForm">
    <h1>REGISTRO</h1>
    <div id="signup-image">
        <app-reader-image class="circle" (onData)="loadImage($event)"></app-reader-image>
    </div>
    <div>
        <label for="name">Nombre</label>
        <input type="text" id="name" formControlName="name" placeholder="Pepipo">
    </div>
    <div>
        <label for="firstname">Apellido Paterno</label>
        <input type="text" id="firstname" formControlName="firstname" placeholder="Perez">
    </div>
    <div>
        <label for="lastname">Apellido Materno</label>
        <input type="text" id="lastname" formControlName="lastname" placeholder="Gonzalez">
    </div>
    <div>
        <label for="dni">Documento de Identidad</label>
        <input type="text" id="dni" formControlName="dni" placeholder="70453212">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="@gmail.com">
    </div>
    <div>
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" placeholder="°°°°°°°">
    </div>
    <button mat-button color="primary" (click)="signup($event)">Registrar</button>
</form>