:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 7px 3px #ccc;
}
#form, #form div {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}
#form div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transform: translateX(-8px);
}
#form div input {
    padding: 8px 8px;
    border-radius: 3px;
    outline: none;
    border: 0px;
    background-color: #eee;
    width: 100%;
}
#signup-image {
    height: 100px;
    width: 100px;
}