:host {
    background-color: #eee;
    min-height: 50px;
    min-width: 50px;
    height: 100%;
    width: 100%;
    //background-image: url("https://cdn1.iconfinder.com/data/icons/web-seo-and-marketing/512/camera-512.png");
    background-size: 100%;
    position: relative;
    border: 3px quote($string: "") #ccc;
    box-shadow: 0px 0px 10px 0px rgb(193, 130, 218);
}
:host.circle {
    border-radius: 100%;
}
#btn-load-image {
    position: absolute;
    bottom: 0;
    right: 0;
}
#reader-image, #reader-image #view-image {
    height: inherit;
    width: inherit;
    border-radius: inherit;
}