<div id="reader-image">
    <img id="view-image" #image [src]=defaultSrc alt="image">
</div>

<button id="btn-load-image" mat-mini-fab color="primary" aria-label="reader image" (click)="onUploadImage()">
    <mat-icon>camera_alt</mat-icon>
</button>
<input type="file" #file id="input-load-image" (change)="load($event)" hidden  accept="image/png, image/gif, image/jpeg">