<div id="course-toolbar" class="d-flex flex-row justify-content-between">
    <div id="burger">
        <button mat-icon-button aria-label="burger menu" (click)='eventClickBurger($event)'>
            <mat-icon>menu</mat-icon>
        </button>
        <!--<span class="material-symbols-outlined">menu</span>-->
    </div>
    <div id="toolbar-avatar" matRipple (click)='eventClickAvatar($event)'>
        <img src="https://i2.wp.com/avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar-2.png?ssl=1" alt="avatar profile">
    </div>
</div>