:host {
    width: 100%;
    height: auto;
}

#course-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    // height: 60px;
    // width: 100vw;
    background-color: tomato;
    box-shadow: 0px 0px 5px 2px #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#burger {
    cursor: pointer;
}
#toolbar-avatar {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    box-sizing: content-box;
    overflow: hidden;
    cursor: pointer;
}
#toolbar-avatar img {
    height: inherit;
    width: inherit;
}