:host {
    width: 100%;
    min-height: 100vh;
}
#layout {
}
// #course-portafolio .course {
//     grid-column: 1/1;
// }
// #course-portafolio {
//     display: grid;
//     grid-template-areas: "card card2"
//                          "card3 card4";
// }
// #course-portafolio:nth-child(n) {
//     grid-area: card;
// }
// #course-portafolio:nth-child(2) {
//     grid-area: card3;
// }
