<app-toolbar (onClickBurger)="onBurger($event)" (onClickAvatar)="onAvatar($event)"></app-toolbar>
<app-menu-profile [ngClass]="{'active': menuProfileVisible}" [dataRoutes]=dataRoutes></app-menu-profile>
<app-navigator [ngClass]="{'active': navigatorVisible}"></app-navigator>
<router-outlet></router-outlet>
<app-footer></app-footer>