:host {
    // position: sticky;
    // bottom: 0;
    // z-index: 1;
}
#course-footer {
    height: 270px;
    width: 100%;
    background-color: tomato;
    box-shadow: 0px 0px 5px 2px #ccc;
    box-sizing: content-box;
}