:host {
    width: 100%;
    height: calc(100vh - 50px);
}
// #course-portafolio {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     align-items: flex-start;
//     justify-content: center;
// }
// #course-portafolio .course {
//     grid-column: 1/1;
// }
:host #layout {
    width: inherit;
    height: inherit;
}
