<div id="navigator-header">
    <div class="link">
        <div class="nameRouter" matRipple [routerLink]="['/cursos']" routerLinkActive="routerLinkActive">Cursos</div>
    </div>
    <!--<div class="link" matRipple [routerLink]="['/configuracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Configuración</div>
        <div class="link">
            <div class="nameRouter">Usuarios</div>
            <div class="link">
                <div class="nameRouter">Crear</div>
                
            </div>
        </div>
    </div>-->
    <!--<div class="link" matRipple [routerLink]="['/usuarios']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Usuarios</div>
    </div>-->
    <div class="link">
        <div class="nameRouter" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">Logistica</div>
    </div>
    <div class="link">
        <div class="nameRouter"  matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">Logistica</div>
    </div>
    <div class="link">
        <div class="nameRouter"  matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">Logistica</div>
        <div class="link">
            <div class="nameRouter">Mantenimientos</div>
            <div class="link">
                <div class="nameRouter" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">Cursos</div>
                <div class="link">
                    <div class="nameRouter">Crear</div>
                    <div class="nameRouter">read</div>
                    <div class="nameRouter">Update</div>
                    <div class="nameRouter">delete</div>

                </div>
            </div>
        </div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>
    <div class="link" matRipple [routerLink]="['/administracion']" routerLinkActive="routerLinkActive">
        <div class="nameRouter">Logistica</div>
    </div>

</div>
<div id="navigator-footer">
    <div class="link" (click)="toggle($event)" matRipple >
        <div class="nameRouter">Comprimir / Expandir</div>
    </div>
</div>
