@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

:host::-webkit-scrollbar {
  width: 10px
}
 
:host::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(212, 206, 206, 0.479);
}
 
:host::-webkit-scrollbar-thumb {
  background-color: rgba(212, 206, 206, 0.479);
  border-radius: 5px;
}
/****************
navigator
*****************/
:host {
    float: left;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    animation: outside 1s ease forwards;
    background-color: white;
    box-shadow: 1px 0px 10px #ccc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px;
    overflow-y: auto;
}
:host.start {
  
}
:host.active {
    float: left;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    animation: inside 1s ease forwards;
    background-color: white;
    box-shadow: 1px 0px 10px #ccc;
}
  
  @keyframes inside {
    from {
        transform: translateX(-230px);
        width: 0px;
    }
    to {
        transform: translateX(0);
        width: 230px;
    }
  }
  @keyframes outside {
    from {
        transform: translateX(0px);
        width: 230px;
    }
    to {
        transform: translateX(-230px);
        width: 0px;
    }
  }

/****************
navigator-Header
*****************/
#navigator-header {
}


:host #navigator-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}
.link {
  width: 100%;
  background-color: initial;
  box-sizing: content-box;
}
.nameRouter + .link:nth-child(n) {
  width: 80%;
  padding: 8px 20px;
}
.nameRouter + .link:first-child {
  width: 100%;
  padding: 0;
  background-color: initial;
  box-sizing: content-box;
}
.link .nameRouter {
  width: 80%;
  padding: 16px 23px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
:host #navigator-header .link  .nameRouter.routerLinkActive{
  width: 100%;
  background-color: tomato;
  width: 80%;
  padding: 16px 23px;
  color: white;
  font-size: 16px;
}
:host .link:hover {
  cursor: pointer;
}
/****************
navigator-Footer
*****************/
:host #navigator-footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  border-top: 1px dotted #ccc;
}
