:host {
    position: fixed;
    top: 60px;
    right: 0px;
    z-index: 1;
    background-color: white;
    margin: 8px 0px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 2px #ccc;
    animation: outside 0s forwards;
    min-height: 15px;
    min-width: 180px;
}
:host.active {
    position: fixed;
    top: 60px;
    right: 0px;
    z-index: 1;
    background-color: white;
    margin: 8px 0px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 2px #ccc;
    animation: inside 1s forwards;
    min-height: 15px;
    min-width: 180px;
}
:host:before {
    content: "";
    position: absolute;
    top: -9px;
    right: 10px;
    z-index: -1;
    background-color: inherit;
    display: flex;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}
@keyframes inside {
    from {
        opacity: 0;
        top: 80px
    }
    to {
        opacity: 1;
        top: 60px
    }
}

@keyframes outside {
    from {
        opacity: 1;
        top: 60px
    }
    to {
        opacity: 0;
        top: 80px
    }
}
:host #menu-profile {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
}
:host #menu-profile .link {
    padding: 8px;
    width: 100%;

}
:host #menu-profile .link.active {
    background-color: green;
}
:host #menu-profile .link:hover {
    cursor: pointer;
}